
   <body>
   <header>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
         <i class="fas fa-bars"></i>
        </label>
        <img class="logo" href= "#" src="/img/logo.svg" alt="">
           <nav>
               <ul class = "nav-area">
                   <li><a href="#">HOME<a></a></li>
                   <li><a href="#">QUEM SOMOS<a></a></li>
                   <li><a href="#">SERVIÇOS<a></a></li>
                   <li><a href="#">CONTATO<a></a></li>
              </ul>
           </nav>
           <a class="btn-area" href="#">Login &nbsp;<img src="/img/admin-icon.svg" width="17px" height="17px"></a>
    </header>
   