
   <body>
   <header>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
         <i class="fas fa-bars"></i>
        </label>
        <img class="logo" href= "#" src="/img/logo.svg" alt="">
           <nav>
               <ul class = "nav-area">
                   <li><a href=http://localhost:3000>HOME</a></li>
                   <li><a href=http://localhost:3000/quemSomos>QUEM SOMOS</a></li>
                   <li><a href="#">SERVIÇOS<a></a></li>
                   <li><a href=http://localhost:3000/contato>CONTATO<a></a></li>
              </ul>
           </nav>
           <a class="btn-area" href=http://localhost:3000/login>Login &nbsp;<img src="/img/admin-icon.svg" width="17px" height="17px"></a>
    </header>
   