table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
 
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}
	/*
	Label the data
	
	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Favorite Color"; }
	td:nth-of-type(5):before { content: "Wars of Trek?"; }
	td:nth-of-type(6):before { content: "Porn Name"; }
	td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; }
}*/




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
 .logo {
    text-align: center;
    color:#0066cc;
    padding-bottom: 10px ;
    
 
    }

 
body {
    font-family: 'Lato', sans-serif;
    }

        .custom-table{
            
            width:100%;
            border:solid 1px #c0c0c0;
            font-size:11px;
            height: 100%;
        }
       .custom-table td{
            text-align:left;
            padding:8px;
            border:solid 1px #c0c0c0
        }
        
        .custom-table th{
            text-align:left;
            padding:8px;
            border:solid 1px #c0c0c0;
            color:#000080;
            
        }
        custom-table tr:nth-child(odd){
            background-color:#f7f7ff
        }
        .custom-table>thead>tr{
            background-color:#dde8f7!important
        }
        .tbtn{
            border:0;
            
            background-color:transparent;
            font-size:13px;
            cursor:pointer
        }
        .toggler{display:none
        }
        
        .toggler1{
            display:table-row;
        }
        .custom-table a{
            color: #0033cc;
        }
        .custom-table a:hover{
            color: #f00;
        }
        .page-header{
            background-color: #eee;
        }
      
        @media (max-width: 480px) { 
            .costume-table thead {
              display: block;
            }

            .costume-table tr {
                border-bottom: 1px solid #dddddd;
              }
              .costume-table td {
                border: 0;
              }
              .costume-table td:not(:first-child) {
                display: block;
              }
            }