
table {
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table { 
    width: 100%;
    margin-bottom: 20px;
  }

  .header{
      text-align: center;
      align-items: center;
      background-color: #e8f0fe;
      color: #0066cc;
  }
  
  th,
   td {
    font-weight: normal;
    font-size: 12px;
    padding: 8px 15px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #dddddd;
  }
  thead th {
    background: #0066cc;
    vertical-align: bottom;
    color: #fff;
  }   
  .table tbody > tr:nth-child(odd) > td,
  .table tbody > tr:nth-child(odd) > th {
    background-color: #fafafa;
  }    
  .table .t-small {
    width: 5%;
  }
  .table .t-medium {
    width: 15%;
  }
  
  
  
  /* Small Sizes */
  @media (max-width: 480px) { 
    .table-action thead {
      display: none;
    }
    .table-action tr {
      border-bottom: 1px solid #dddddd;
    }
    .table-action td {
      border: 0;
    }
    .table-action td:not(:first-child) {
      display: block;
    }
  }