<%- include('partials/head')%> 
<%- include('partials/header')%> 
<link rel="stylesheet" href="/css/contato.css">
<body>
<h1 class= "titulo">CONTATO</h1>
    
<div class="lista-contatos">
    <h3>Telefone</h2>
    <p>11 4002-8922</p>
    <br>
    <h3>Celular/WhatsApp</h2>
    <p>11 94002-8922</p>
    <br>
    <h3>E-mail</h2>
    <p></p>contato@apego.com</p>
    <br>

    <h3>Redes Sociais</h3>
    <p>@apego</p>
</div>
<%- include('partials/footer')%>