<<<<<<< HEAD

<%-include('partials/head')  %> 



<%- include('partials/header')%> 

<hr color="#0066cc">
=======
<!DOCTYPE html>
<html lang= "pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApeGo Se administrador de condomínio</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./img/favicon.ico"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <header>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
       <i class="fas fa-bars"></i>
      </label>
      <img class="logo" href= "#" src="/img/logo.svg" alt="">
         <nav>
             <ul class = "nav-area">
                 <li><a href="#">HOME<a></a></li>
                 <li><a href="#">QUEM SOMOS<a></a></li>
                 <li><a href="#">SERVIÇOS<a></a></li>
                 <li><a href="#">CONTATO<a></a></li>
                 <li><a href="#">MURAL DE AVISOS<a></a></li>
            </ul>
         </nav>
         <a class="btn-area" href="#">Login &nbsp;<img src="/img/admin-icon.svg" width="17px" height="17px"></a>
  </header>
>>>>>>> f1893e881bbfec4878ee09178c166e9a06219579

    <main>
   
        <div class="advantage">
            <div class="item">
              
                <img src="/img/iconeperfil.jpg" alt="Shield" width="120px" height="120px">
           
                <p>
                  PERFIL
                </p>
            </div>
            <div class="item">
                <img src="/img/iconechat.jpg "alt="Admin" width="120px" height="120px">
                <p>
                  CHAT
                </p>
            </div>
            <div class="item">
                <img src="/img/iconemural.jpg" alt="View" width="120px" height="120px">
                <p>
                  MURAL
                </p>
            </div>
    
        </div>

        <div class="advantage">
            <div class="item">
              
                <img src="/img/iconeboleto.jpg" alt="Shield" width="120px" height="120px">
           
                <p>
                  BOLETOS
                </p>
            </div>
            <div class="item">
                <img src="/img/iconereservas.jpg" alt="Admin" width="120px" height="120px">
                <p>
                  RESERVAS
                </p>
            </div>
            <div class="item">
                <img src="/img/iconecontas.jpg" alt="View" width="120px" height="120px">
                <p>
                  CONTAS
                </p>
            </div>
    
        </div>
    
    </main>
  <footer>
    <section class="flex-container">
   <div class="footer-card">
       <p>ApeGo - 2021 - Todos os direitos reservados.</p>
   </div>
   <div lass="footer-card">
       <p></p>
   </div>
   <div class="footer-card">
       <img href="https://facebook.com" src="/img/face-icon-white.svg" width="30px" height="30px" hspace="15px">
       <img href="https://instagram.com" src="/img/insta-icon-white.svg" width="30px" height="30px" hspace="15px">
   </div>
   </section>
</footer> 
</body>
</html>
