
<%-include('partials/head')  %> 



<%- include('partials/header')%> 

<hr color="#0066cc">

    <main>
   
        <div class="advantage">
            <div class="item">

              <a href=http://localhost:3000/perfil >
              
                <img src="/img/iconeperfil.jpg" alt="Shield" width="120px" height="120px"> </a>
           
                <p>
                  PERFIL
                </p>
            </div>
            <div class="item">

              <a href=http://localhost:3000/chat >
                <img src="/img/iconechat.jpg "alt="Admin" width="120px" height="120px"> </a>
                <p>
                  CHAT
                </p>
            </div>
            <div class="item">

              <a href=http://localhost:3000/mural >
               <img src="/img/iconemural.jpg" alt="View" width="120px" height="120px"></a>
                <p>
                  MURAL
                </p>
            </div>
    
        </div>

        <div class="advantage">
            <div class="item">

              <a href=http://localhost:3000/boletos >
              
                <img src="/img/iconeboleto.jpg" alt="Shield" width="120px" height="120px"></a>
           
                <p>
                  BOLETOS
                </p>
            </div>
            <div class="item">
                <img src="/img/iconereservas.jpg" alt="Admin" width="120px" height="120px">
                <p>
                  RESERVAS
                </p>
            </div>
            <div class="item">
                <img src="/img/iconecontas.jpg" alt="View" width="120px" height="120px">
                <p>
                  CONTAS
                </p>
            </div>
    
        </div>
    
    </main>
  <footer>
    <section class="flex-container">
   <div class="footer-card">
       <p>ApeGo - 2021 - Todos os direitos reservados.</p>
   </div>
   <div lass="footer-card">
       <p></p>
   </div>
   <div class="footer-card">
       <img href="https://facebook.com" src="/img/face-icon-white.svg" width="30px" height="30px" hspace="15px">
       <img href="https://instagram.com" src="/img/insta-icon-white.svg" width="30px" height="30px" hspace="15px">
   </div>
   </section>
</footer> 
</body>
</html>
