<!DOCTYPE html>
<html lang= "pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApêGo</title>
    <link rel="stylesheet" href="/css/mural-de-avisos.css">
    <link rel="shortcut icon" href="/img/favicon.ico"/>
</head>
<header>
    <img class="logo" src="/img/logo.svg" alt="">
        <nav>
            <ul class = "nav-area">
                <li><a href="#">HOME<a></a></li>
                <li><a href="#">QUEM SOMOS<a></a></li>
                <li><a href="#">SERVIÇOS<a></a></li>
                <li><a href="#">CONTATO<a></a></li>
                <li><a href="#">MURAL DE AVISOS<a></a></li>
            </ul>
        </nav>
    <a class="btn-area" href="#">Login &nbsp;<img src="/img/admin-icon.svg" width="17px" height="17px"></a>
</header>
<body>
    <h1 class= "titulo">MURAL DE AVISOS</h1>
    <div class= "aviso1">
    
        <span>20/03/2021</span>
        <h2>REFORMA DA QUADRA</h2>
            <p>A reforma da quadra do condomínio encerrou nessa última sexta feira. O acesso ao espaço já está liberado!</p>
            <img src= "/img/quadra.jpg" alt = "quadra" class= "foto-quadra">
        </div>

    <div class= "aviso2">
        <h2>NOVO ESPAÇO DE FESTAS</h2>
        <span>12/03/2021</span>
            <p>Hoje inauguramos um novo espaço dedicado às festividades de nossos moradores, venha conferir!</p>
            <img src= "/img/sala-de-festas.jpg" alt = "sala de festas" class= "foto-sala-de-festas">
    </div>

    <div class= "aviso3">
        <h2>MANUTENÇÃO DA PISCINA</h2>
        <span>12/03/2021</span>
            <p>A partir do dia 15 de março estaremos reformando a área da piscina. Com isso, a área ficará bloqueada pelo tempo que for necessário para o serviço. Agradecemos a compreensão!</p>
            <img src= "/img/sala-de-festas.jpg" alt = "sala de festas" class= "foto-sala-de-festas">
    </div>

    <div class= "aviso3">
        <h2>MANUTENÇÃO DA PISCINA</h2>
        <span>12/03/2021</span>
            <p>A partir do dia 15 de março estaremos reformando a área da piscina. Com isso, a área ficará bloqueada pelo tempo que for necessário para o serviço. Agradecemos a compreensão!</p>
            <img src= "/img/sala-de-festas.jpg" alt = "sala de festas" class= "foto-sala-de-festas">
    </div>

    <div class= "aviso3">
        <h2>MANUTENÇÃO DA PISCINA</h2>
        <span>12/03/2021</span>
            <p>A partir do dia 15 de março estaremos reformando a área da piscina. Com isso, a área ficará bloqueada pelo tempo que for necessário para o serviço. Agradecemos a compreensão!</p>
            <img src= "/img/sala-de-festas.jpg" alt = "sala de festas" class= "foto-sala-de-festas">
    </div>

    <div class= "aviso3">
        <h2>MANUTENÇÃO DA PISCINA</h2>
        <span>12/03/2021</span>
            <p>A partir do dia 15 de março estaremos reformando a área da piscina. Com isso, a área ficará bloqueada pelo tempo que for necessário para o serviço. Agradecemos a compreensão!</p>
            <img src= "/img/sala-de-festas.jpg" alt = "sala de festas" class= "foto-sala-de-festas">
    </div>

    <div class= "aviso3">
        <h2>MANUTENÇÃO DA PISCINA</h2>
        <span>12/03/2021</span>
            <p>A partir do dia 15 de março estaremos reformando a área da piscina. Com isso, a área ficará bloqueada pelo tempo que for necessário para o serviço. Agradecemos a compreensão!</p>
            <img src= "/img/sala-de-festas.jpg" alt = "sala de festas" class= "foto-sala-de-festas">
    </div>

    <div class= "aviso3">
        <h2>MANUTENÇÃO DA PISCINA</h2>
        <span>12/03/2021</span>
            <p>A partir do dia 15 de março estaremos reformando a área da piscina. Com isso, a área ficará bloqueada pelo tempo que for necessário para o serviço. Agradecemos a compreensão!</p>
            <img src= "/img/sala-de-festas.jpg" alt = "sala de festas" class= "foto-sala-de-festas">
    </div>

    <div class= "aviso3">
        <h2>MANUTENÇÃO DA PISCINA</h2>
        <span>12/03/2021</span>
            <p>A partir do dia 15 de março estaremos reformando a área da piscina. Com isso, a área ficará bloqueada pelo tempo que for necessário para o serviço. Agradecemos a compreensão!</p>
            <img src= "/img/sala-de-festas.jpg" alt = "sala de festas" class= "foto-sala-de-festas">
    </div>
    
</body>
<footer>
    <section class="flex-container">
    <div class="footer-card">
        <p>ApêGo - 2021 - Todos os direitos reservados.</p>
    </div>
    <div lass="footer-card">
        <p></p>
    </div>
    <div class="footer-card">
        <img href="https://facebook.com" src="/img/face-icon-white.svg" width="30px" height="30px" hspace="15px">
        <img href="https://instagram.com" src="/img/insta-icon-white.svg" width="30px" height="30px" hspace="15px">
    </div>
    </section>
</footer>
</html>