
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

  body {
    font-family: lato light;
    font-size: 16px;
     }
  a{
    text-decoration: none;
  }
  header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;

  }
  .nav-area{
    list-style: none;
  }
  .nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 20px;
  }
  .nav-area li a{
    color:#0066cc;
  }
  .nav-area li a:hover{
    color: #23a8f2;
  
}

btn-area{
    cursor: pointer;
    color: white ;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 15px;
    border-radius: 5px;
    background: #0066cc;
    transition: transform 1s;
    transform: translateX(0) scale(0.9);
  }
  
  .btn-area:hover{
    background: #004a94;
    transform: translateX(10px) scale(1.0);
  }
  
  img.banner{
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
  
  .main-text{
      color: #0066cc;
      text-align: center;  
      font-size: 50px;
      margin-top: 50px;
    }

    div{
        justify-content: center;
      display: flex;
    }

      
    h1{
        text-align: center;  
        font-size: 20px;
        padding-bottom: 20px;
        font-family: lato light;
        color: #0066cc;
      
      }
      



section {
    display: inline-block;
    display: flex;
    font-size: 15px;
  }


table{
    height:380px;
     width: 600px;
     padding-left: 100px;
     padding-right: 100px;
      margin: 0 auto;padding-bottom: 100px;
   }
   
   td  {
     border: solid #004a94 1px;
     height: 50px;
     width: 50px;
     text-align: center;
     
   
   }
   
   th {
     border: solid #004a94 1px;
     height:50px;
     width: 50px;
     text-align: center;
     font-weight: 700;
   }


   .vencido {
    background-color: red;  
    color: white; 
    text-align: center;
    border-radius: 0.6em;
         
       
   }

   .Pendente {

  background-color: darkorange  ;
  color: white;    
  text-align: center; 
  border-radius: 0.6em;
 
   }

   .pago {

    background-color: green;
    color: white;
    text-align: center;
    border-radius: 0.6em;
   }


   footer{
    
    background: #0066cc;  
    color: white;
    padding: 30px;
    display: flex;
    justify-content: end;

}

.footer-card{
    cursor: pointer;
    padding: 10px;


}

 
.advantage{
  max-width: 100%;
  height: 350px;
  color: #0066cc;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.item{
width: 300px;
height: 300px;
font-size: 18pt;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.checkbtn{
  font-size: 30px;
  color: #0066cc;
  float: right;
  cursor: pointer;
  display: none;
}
#check{
  display: none;

}


   @media screen and (max-width: 952px){
    .advantage{
        flex-direction: column;
        padding: 2px;

    }
    .main-text{
        height: 350px;
        font-size: 15px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    footer{
        margin-top: 150px;
      
        }
        div.item{
            margin-bottom: 50px;
        }

        @media (max-width:858px) {
            .ckeckbtn{
                display: block;
                }
                ul{
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    background: white;
                    top: 125px;
                    left: 0;
                    text-align: center;
                  }
                  nav ul li{
                    display: block;
                
                  }
                  ul.nav-area{
                    display: grid;
                    max-height: 50%
                  }
                  .nav-area li a:hover{
                    color: #23a8f2;
                
                  }









        }

        







}

