@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

    div{
       text-align: center;
    }

      
    h1{
         
         color: #0066cc;
         justify-content: center;
         margin-bottom: 20px;
         font-size: 20px;
      
      }


section {
    
    font-size: 15px;
    padding-left: 200px;
    display: flex;
    justify-content:space-between;
    display: flex;
 
    
  }

  
table{
    height:500px;
   width: 600px;
    display: inline-block;
   }
   
   td  {
     border: solid #004a94 1px;
     height: 60px;
     width: 100px;
     text-align: center;
     
   
   }
   
   th {
     border: solid #004a94 1px;
     height: 60px;
     width: 100px;
     text-align: center;
     font-weight: 700;
   }


   .vencido {
    background-color: red;  
    color: white; 
    text-align: center;
    border-radius: 0.6em;
         
       
   }

   .Pendente {

  background-color: darkorange  ;
  color: white;    
  text-align: center; 
  border-radius: 0.6em;
 
   }

   .pago {

    background-color: green;
    color: white;
    text-align: center;
    border-radius: 0.6em;
   }

  