*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.titulo {
    text-align: center;
}

main{
    
    border: 0;
    padding: 0;
    box-sizing: border-box;
    /* min-height: 100vh;
    min-width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
}

main.container {
    max-width: 350px;
    min-height: 70vh;
    padding: 2rem;
}

form{
    display: flex;
    flex-direction: column;
}

.ou{
    margin-top: 30px;
    margin-bottom: 30px;
}

input#username {
    border-color: #0066cc;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 40px;
    cursor: text;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

input#password {
    border-color: #0066cc;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 10px;
    background-color: white;
    cursor: text;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

input#email {
    border-color: #0066cc;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 10px;
    background-color: white;
    cursor: text;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

input#endereço {
    border-color: #0066cc;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 10px;
    background-color: white;
    cursor: text;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

input#telefone {
    border-color: #0066cc;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 10px;
    background-color: white;
    cursor: text;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

form input{
    margin: 0.4rem;
    padding: 0.4rem;
    border-radius: 4px;
    color: white;
    
    cursor: pointer;
}

form input:hover{
    letter-spacing: 0.5px;
}

.cadastro{
    color: #0066cc ;
    
}

.botao {
    background-color: #0066cc;
    border: 1px solid #0066cc;
    border-radius: 15px;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}


.botao:hover {
    background-color: #fff;
    border: 1px solid #0066cc;
    color: #0066cc;
}