@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

  body {
    /* font-family: lato light; */
    font-weight: 600;
    font-size: 16px;
  }

  .logo {
    text-align: center;
    color:#0066cc;
    padding-bottom: 10px ;
     border: 30px;
     align-items: center;
     padding-top: 20px;
  }
 
 
     h2{
          
       color: #0066cc;
       justify-content: center;
       margin-bottom: 20px;
       font-weight: 900;
       padding: 10px;
    
    }

  a{
    text-decoration: none;
  }
  
  header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    width: 100%;
  }
  
  .nav-area{
    list-style: none;
  }

  .nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
  }

  .nav-area li a{
    color:#0066cc;
  }

  .nav-area li a:hover{
    color: #23a8f2;
  }
  
  .btn-area{
    cursor: pointer;
    color: white ;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 15px;
    border-radius: 5px;
    background: #0066cc;
    transition: transform 1s;
    transform: translateX(0) scale(0.9);
  }
  
  .btn-area:hover{
    background: #004a94;
    transform: translateX(10px) scale(1.0);
  }

h1.titulo {
  background-color: #3566cc;
  color: white;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
  margin: 0px 80px 30px 80px;
}

body {
  position: relative;
}

div.lista-contatos {
    padding: 30px 30px 30px 30px;
    text-align: center;
    background-color:#e8f0fe;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 50px ;
    align-items: center;
    border-radius: 10px  ;
    border: solid 1px #3188df;
}

h3 {
  margin: 10px;
  color: #0066cc;
}


footer {
    color: white;
    text-align: center;
    background-color: #3566cc;
    width: 100%;
    margin: auto;
    bottom: 0;
    position: relative;
}

.footer-card-apego{
  padding-top: 20px;
}

.footer-icons {
  padding-bottom: 20px;
}

