@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
    
  footer{
  
    background: #0066cc;  
    color: white;
    padding: 30px;
    display: flex;
    justify-content: end;
}

.footer-card{
    cursor: pointer;
    padding: 10px;

}