@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

main{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#0066cc ;
}

main.container {
    max-width: 350px;
    min-height: 70vh;
    padding: 2rem;
}

.title {
    font-weight: 900;
}

form{
    display: flex;
    flex-direction: column;
}

.ou{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}
input#username {
    border-color: #0066cc;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 40px;
    background-color: white;
    cursor: text;
}
input#password {
    border-color: #0066cc;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 10px;
    background-color: white;
    cursor: text;
}

.cadastro{
    color: #0066cc;
    font: 12pt;
}

.entrar {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    margin-top: 1rem;
    background-color: #0066cc;
    border: 1px solid #0066cc;
}

.entrar:hover {
    background-color: #fff;
    color: #0066cc;
}