@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    box-sizing: border-box;
    flex-direction: column;
    color:#0066cc;
}

.title {
    font-weight: 900;
}

.form {
    display: flex;
    flex-direction: column; /** Mantem os elementos do formulário um abaixo do outro **/
    width: 30%;
    margin: 8px;
}

.form input {
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.ou{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.cadastro{
    color: #0066cc;
    font: 12pt;
}

.entrar {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    margin-top: 1rem;
    background-color: #0066cc;
    border: 1px solid #0066cc;
}

.entrar:hover {
    background-color: #fff;
    color: #0066cc;
}