
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    font-family: 'Lato', sans-serif;
}
h1{
         
    color: #0066cc;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
   
 
 }

 div{
    text-align: center;
    
 }

.container
 {
padding-top: 30px;
align-items: center;
justify-content: center;
border: 2px solid  #0066cc;
flex-direction: column;
height: 500px;
width: 500px ;
display: flex;
padding: 50px;
margin-left:500px;
box-sizing: border-box;
margin-bottom: 20px ;

}

.nome{
 
   
   border :2px solid #0066cc;
   width: 400px;
   height: 100px ;
   margin: 20PX;
   border-radius: 20PX;
}

.email{
    
    border :2px solid #0066cc;
    width: 400px;
    height: 100px ;
    margin: 20PX;
    border-radius: 20PX;
 }

.condominio{
     
    border :2px solid #0066cc;
    width: 400px;
    height: 100px ;
    margin: 20PX;
    border-radius: 20PX;
 }

.unidade{
   
    border :2px solid #0066cc;
    width: 400px;
    height: 100px ;
    margin: 20PX;
    border-radius: 20PX;
 }