@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  
}

body {
   font-family: 'Lato', sans-serif;
}


h1{
         
    color: #0066cc;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
   
 
 }

 div{
    text-align: center;
    align-items: center;
    justify-content: center;
    
 }


 .container {
   
   justify-content: center;
   
   background-color: #fff;
   box-sizing: border-box;
   flex-direction: column;
   color:#0066cc;
   padding-top: 50px;
}


.form {
   display: flex;
   flex-direction: column; /** Mantem os elementos do formulário um abaixo do outro **/
   width: 30%;
   margin: 8px;
}

.form input {
   height: 45px;
   border: none;
   background-color: #ecf0f1;
   width: 100%;
}

.label-input {
   background-color: #ecf0f1;
   display: flex;
   align-items: center;
   margin: 8px;
}
/**.container
 {
padding-top: 30px;
align-items: center;
justify-content: center;
border: 2px solid  #0066cc;
flex-direction: column;
height: 500px;
width: 500px ;
display: flex;
padding: 50px;
margin-left:500px;
box-sizing: border-box;
margin-bottom: 20px ;

}
*/


/**
.nome{
 
   
   border :2px solid #0066cc;
   width: 400px;
   height: 100px ;
   margin: 20PX;
   border-radius: 20PX;
}

.email{
    
    border :2px solid #0066cc;
    width: 400px;
    height: 100px ;
    margin: 20PX;
    border-radius: 20PX;
 }

.condominio{
     
    border :2px solid #0066cc;
    width: 400px;
    height: 100px ;
    margin: 20PX;
    border-radius: 20PX;
 }

.unidade{
   
    border :2px solid #0066cc;
    width: 400px;
    height: 100px ;
    margin: 20PX;
    border-radius: 20PX;
 }