@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

main{
    margin: 0;
    border: 0;
    padding: 0;
    max-width: 100%;
      color:#0066cc ;
    
  
}

h1{
    text-align: center;
    font-size: 40px;
    height: 100px;
    padding-top: 30px;
  padding-bottom: 30px;
}

p{
    text-align: center;
    font-size: 20px;
    height: 100px;

}


.item{
 
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }

 
      
  section{
    max-width: 100%;
    height: 100%;
     color: #0066cc;
    display: flex;
    flex-wrap: nowrap;
     flex-direction: row;
    justify-content: space-around;
  }

