
<%-include('partials/head')  %> 
<link rel="stylesheet" href="/css/style.css">
<%- include('partials/header')%> 



  <hr color="#0066cc">
<main>
    <img class="banner" src="/img/banner01.jpg" alt="Banner ApeGo">
    <div class="main-text">
    <p >
      Lorem Ipsum is simply dummy text of the printing and typesetting<br>
        industry. Lorem Ipsum has been the industry's standard dummy.
    </p>
</div>
    <div class="advantage">
        <div class="item">
          
            <img src="/img/shield-icon-lightblue.svg" alt="Shield" width="120px" height="120px">
       
            <p>
              It is a long established fact that a reader.
            </p>
        </div>
        <div class="item">
            <img src="/img/admin-icon-lightblue.svg" alt="Admin" width="120px" height="120px">
            <p>
              It is a long established fact that a reader.
            </p>
        </div>
        <div class="item">
            <img src="/img/view-icon-lightblue.svg" alt="View" width="120px" height="120px">
            <p>
              It is a long established fact that a reader.
            </p>
        </div>

    </div>

</main>
<%- include('partials/footer')%>