<%- include('partials/head')%>
<%- include('partials/header')%>
<link rel="stylesheet" href="/css/login.css">

<body>
    <div class="container">
        
        <% if (locals.error) { %>
            <%= locals.error %>
        <%} %>
        
        <h2 class="title">LOGIN</h2>
        <form class="form" action="/login" method="post">
            <label class="label-input">
                <input type="email" placeholder="E-mail">
            </label>
            <label class="label-input">
                <input type="password" placeholder="Senha">
            </label>
            <button class="btn" type="submit">ENTRAR</button>
        </form>
        <div class="cadastro">
            <p><a href="http://localhost:3000/cadastro">Clique aqui para se cadastrar!</a></p>
        </div>
    </div>
</body>

<%- include('partials/footer')%>