<%- include('partials/head')%>
<%- include('partials/header')%>
<link rel="stylesheet" href="/css/login.css">

<body>
    <main class="container">
        
        <% if (locals.error) { %>
            <%= locals.error %>
        <%} %>
        
        <h2 class="title">LOGIN</h2>
        <form class="form" action="/login" method="post">
            <div class="input-field"></div>
                <input type="text" name="username" id="username" placeholder="Seu e-mail">
            <div class="underline"></div>
            </div>
            <div class="input-field"></div>
            <input type="password" name="password" id="password" placeholder="Sua senha">
            <div class="underline"></div>
            </div>
            <button class="entrar" type="submit">ENTRAR</button>
        </form>
        <div class="ou">
            <p>Ou</p>
        </div>
        <div class="cadastro">
            <a href="http://localhost:3000/cadastro">Cadastre-se agora!
                <i class="fas fa-user-check"></i>
            </a>
        </div>
    </main>
</body>

<%- include('partials/footer')%>