<%- include('partials/head')%> 
<%- include('partials/header')%> 
 <link rel="stylesheet" href="/css/mural-de-avisos.css">
    
<body>

    <div class="logo">
        <img src="/img/iconemural.jpg"  alt="" width="100px" height="100px">
        <h2>MURAL DE AVISOS </h2>
        </div>


    
    
    <div class= "aviso1">
    
        <span>20/03/2021</span>
        <h2 class="titulo-aviso">REFORMA DA QUADRA</h2>
            <p>A reforma da quadra do condomínio encerrou nessa última sexta feira. O acesso ao espaço já está liberado!</p>
            <img src= "/img/quadra.jpg" alt = "quadra" class= "foto-quadra">
        </div>

    <div class= "aviso2">
        <span>12/03/2021</span>
        <h2 class="titulo-aviso">NOVO ESPAÇO DE FESTAS</h2>
            <p>Hoje inauguramos um novo espaço dedicado às festividades de nossos moradores, venha conferir!</p>
            <img src= "/img/sala-de-festas.jpg" alt = "sala de festas" class= "foto-sala-de-festas">
    </div>
    <div class= "aviso3">
        <span>29/02/2021</span>
        <h2 class="titulo-aviso">PROJETO VERDE</h2>
            <p>A partir de março, iniciaremos o projeto verde, uma iniciativa com o objetivo de contribuir para a preservação do meio ambiente através do plantio de novas árvores dentro e ao redor de nosso condomínio.</p>
            <img src= "/img/projeto-verde.jpg" alt = "sala de festas" class= "foto-projeto-verde">
    </div>
    <div class= "aviso4">
        <span>01/02/2021</span>
        <h2 class="titulo-aviso">CARNAVAL 2021</h2>
            <p>Ainda estamos em fase de quarentena, então recomendamos aos nossos moradores que, neste carnaval, fiquem em suas casas respeitando as medidas de prevenção ao COVID-19. Se cuidem!</p>
            <img src= "/img/familia-mascara.jpg" alt = "sala de festas" class= "foto-familia-mascara">
    </div>
</body>
<%- include('partials/footer')%>
