<%- include('partials/head')%> 
<%- include('partials/header')%> 
<link rel="stylesheet" href="/css/quemSomos.css">

    <body>

  <main>
      <h1>  QUEM SOMOS  </h1>


      <P>Lorem Ipsum is simply dummy text of the printing and typesetting</P>


      <h1>SERVIÇOS </h1>
      
      <section>
      <div class="item">
              
        <img src="/img/iconeperfil.jpg" alt="Shield" width="120px" height="120px">
   
        <p>
          PERFIL
        </p>
    </div>
    <div class="item">
        <img src="/img/iconechat.jpg "alt="Admin" width="120px" height="120px">
        <p>
          CHAT
        </p>
    </div>
    <div class="item">

      <a href=http://localhost:3000/mural-de-avisos >
       <img src="/img/iconemural.jpg" alt="View" width="120px" height="120px"></a>
        <p>
          MURAL DE AVISOS
        </p>
    </div>


    <div class="item">

      <a href=http://localhost:3000/boletos >
      
        <img src="/img/iconeboleto.jpg" alt="Shield" width="120px" height="120px"></a>
   
        <p>
          BOLETOS
        </p>
    </div>
    <div class="item">
        <img src="/img/iconereservas.jpg" alt="Admin" width="120px" height="120px">
        <p>
          RESERVAS
        </p>
    </div>
    <div class="item">
        <img src="/img/iconecontas.jpg" alt="View" width="120px" height="120px">
        <p>
          CONTAS
        </p>
    </div>
  </section>

  </main>
  
  <%- include('partials/footer')%> 
 


